<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script><script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Mosaico TERES</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <canvas id="canvas" width="500" height="500" style="border:1px solid black;display:block;margin:0 auto"></canvas>
        <span>A tela apenas processa coordenadas entre 0 e 500 nesta versão</span></br>
        <span>Insira as coordenadas (valores inteiros) no formato x1 y1 x2 y2 (separados por qualquer caracter que não seja número),</br> sendo elas respectivamente x e y do vertice superior esquerdo do retangulo e x e y do vértice inferior direito do retângulo</span></br>
        <input id="coords" type="text">
        <button id="submit">Adicionar nova Área</button>
        <button id="delete">Resetar Áreas</button>
        <h2>As coordenadas dos <span id="qtd"></span> retangulos são:</h2> 
        <div class="coordList">
        </div>

    <!--os scripts devem estar neste bloco-->
    <script>
        let rectList = [{
                    "start":{
                                "x":0,
                                "y":0
                            },
                    "end":{
                                "x":0,
                                "y":0
                            }
                }]
        document.getElementById("canvas").getContext("2d").transform(1, 0, 0, -1, 0, canvas.height)
        //evento, sempre que clicar no botão,
        //ele pega os valores das coordenadas e chama o servidor para
        //retornar a nova lista de retângulos
        $("#submit").on("click",()=>{
            //trata os dados 
            
            let values = $("#coords").val().split(/[\D]+/)
            newvalues = values.filter((a)=>a)
            if( !Array.isArray(newvalues) 
                || newvalues.length != 4 
                || (parseInt(newvalues[1]) < parseInt(newvalues[3]))
                || (parseInt(newvalues[0]) > parseInt(newvalues[2]))){
               alert("o input esta errado, verifique as coordenadas") 
               return
            }

            rectList = reqRect(...newvalues) 


            //console.log(rectList)
        })
        //deleta as coordenadas
        $("#delete").on("click",()=>{
            delRects()
        })
    </script>
    {% endblock %}
</body>
</html>
