<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script><script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <canvas id="canvas" width="500" height="500" style="border:1px solid black"></canvas>
        <input id="coords" type="text">
        <button id="submit">submit</button>
    <h1>as coordenadas são 
          <span id="x1"></span> <span id="y1"></span> <span id="x2"></span> <span id="y2"></span></h1>

    <!--os scripts devem estar neste bloco-->
    <script>
        //evento, sempre que clicar no botão,
        //ele pega os valores das coordenadas e chama o servidor para
        //retornar a nova lista de retângulos
        $("#submit").on("click",()=>{
            let values = $("#coords").val().split(" ")
            reqRect(...values) 
        })
    </script>
    {% endblock %}
</body>
</html>
